BOT_TOKEN="1111111111:AAAAAAAAAAAAAAAAAAAAAAAAAA_AAAAAAAA"

POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# test shop
YOOKASSA_API_KEY=1111111
YOOKASSA_API_SECRET=test_RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR

OPENROUTER_TOKEN="sk-or-v1-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

PYTHONPATH=/srv